* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}
.services-title , .featured-title {
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
}

/* /////////////////   header      //////////////// */
.header {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 50%);
    position: fixed;
    top: 0;
    opacity: 0.7;
    z-index: 10;
}

.header-logo {
    width: auto;
    height: 60px;
    margin-left: 65px;
    float: left;
}

/* /////////////////   list      //////////////// */
.list {
    list-style: none;
    float: right;
    margin-right: 90px;
}

.list li {
    display: inline-block;
    margin-left: 25px;
    color: #fff;
}

.list li a {
    text-decoration: none;
    color: #fff;
}

/* /////////////////   home      //////////////// */
.home {
    width: 100%;
    height: 100vh;
    background-image: url(../Images/home-img.jpg);
    position: relative;
    background-size: cover;
}

.home-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 50%);
}

.home-content {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-title {
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
}

.home-p {
    color: #dfdfdf;
    margin: 20px 0px;
    letter-spacing: 2px;
}

.home-btn {
    width: 145px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-size: 17px;
    text-transform: capitalize;
    cursor: pointer;
}

.home-btn2 {
    background-color: rgb(255, 165, 0);
    color: #fff;
    margin-left: 10px;
}

.home-btn:hover {
    opacity: 0.5;
}



/* /////////////////   services      //////////////// */

.services{
    height: 100vh;

}
.services-item {
    float: left;
    width: 300px;
    height: 220px;
    margin-top: 80px;
    margin-left: 80px;
    text-align: center;
    border: 2px solid rgb(55 55 58);
    position: relative;
    border-radius: 10px;
}

.services-icon {
    text-align: center;
    font-size: 36px;
    color: rgb(255 165 0);
    margin-top: 16px;
}
.services-item:hover .services-icon{
    color: black;
}
.services-overley {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
}

.services-overley a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(53, 171, 240);
    color: #fff;
    font-size: 23px;
    margin-left: auto;
}

.services-overley a i {
    line-height: 40px;
}

.services-info-title {
    text-transform: uppercase;
    padding: 12px 0px;
    color: rgb(58, 58, 58);
}

.services-p {
    text-transform: capitalize;
    color: grey;
}

.services-link {
    text-decoration: none;
    display: block;
    color: rgb(255 165 0);
    margin-top: 30px;
}

.services-item:hover .services-info-title {
    color: rgb(255 165 0);
}

.services-item:hover .services-p {
    color: rgb(58, 58, 58);
}

.services-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transition: 1s;
    background-color: rgb(255, 165, 0);
    opacity: 0;
}

.services-item:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
/* /////////////////   services      //////////////// */

.featured{
    background-color: rgb(243 240 237 / 79%);
    height: 100vh;
}
.featured-item {
    float: left;
    width: 300px;
    height: 220px;
    margin-top: 80px;
    margin-left: 80px;
    text-align: center;
    position: relative;
}
.featured-item img{
    height: 100%;
    width: 100%;
}

.featured-info-title , .featured-p{
    text-transform: uppercase;
    padding: 12px 0px;
    visibility: hidden;
    opacity: 0;
    font-size: 33px;

}
.featured-item:hover .featured-info-title {
    color: rgb(215, 214, 214);
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 5%;
    left: 31%;
}

.featured-item:hover .featured-p {
    color: white;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 20%;
    left: 12%;
}

.featured-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 1s;
    background-color:rgb(255 165 0 / 55%);
    opacity: 0;
}

.featured-item:hover::after {
    width: 100%;
    height:100% ;
    opacity: 0.5;
    
}
/* /////////////////   footer      //////////////// */
.footer{
    text-align: center;

}
.footer-info-title{
font-size: 24px;
margin-top: 36px;

}
.footer-icon {
    font-size: 36px;
    color: rgb(73, 72, 72);
    margin: 36px 10px;
}
/* ////////////////////////////////////////// */